
    <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= img.label :name %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= img.text_field :name %>
          </div>
        </div>
    </div>
        <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= img.label :copywright %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= img.text_field :copywright %>
          </div>
        </div>
    </div>
        <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= img.label :alt_text %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= img.text_field :alt_text %>
          </div>
        </div>
    </div>
        <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= img.label :details %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= img.text_area :details %>
          </div>
        </div>
    </div>
        <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= img.label :url %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= img.text_field :url %>
          </div>
        </div>
    </div>
