<%= form_with model: @leafy_green do |form| %>
  <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= form.label :name %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= form.text_field :name %>
            <% leafy_green.errors.full_messages_for(:name).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
      </div>
  </div>

  <div class="row mb-3">
        <div class="col-sm-4 col-form-label">
          <%= form.label :details %><br>
        </div>
        <div class="col-sm-9">
          <div class="row form-control">
            <%= form.text_area :details %>
            <% leafy_green.errors.full_messages_for(:details).each do |message| %>
                <div><%= message %></div>
            <% end %>
          </div>
        </div>
  </div>
  <div class= "row mb-3">
        <div class="col-sm-4 col-form-label">
          <%= form.label :variety %><br>
        </div>
        <div class="col-sm-9">
          <div class="row form-control">
            <%= form.text_field :variety %>
            <% leafy_green.errors.full_messages_for(:variety).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div> 
       </div> 
  </div>

  <div class= "row mb-3">
        <div class="col-sm-4 col-form-label">
          <%= form.label :price %><br>
        </div>
        <div class="col-sm-9">
          <div class="row form-control">
            <%= form.number_field :price %>
            <% leafy_green.errors.full_messages_for(:price).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div> 
       </div> 
  </div>

  <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= form.label :mfg_date %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= form.date_field :mfg_date %>
            <% leafy_green.errors.full_messages_for(:mfg_date).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
      </div>
  </div>

  <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= form.label :expiry_date %><br>
      </div>
      <div class="col-sm-9">
          <div class="row form-control">
            <%= form.date_field :expiry_date %>
            <% leafy_green.errors.full_messages_for(:expiry_date).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
      </div>
  </div>

        <% form.label :type %>
        <% form.text_field :type %>


  <div class="col-auto">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
 