<p class="text-decoration-underline text-center"><%= @leafy_green.price %><p>
<p class="text-center"><%= @leafy_green.mfg_date %></p>
<p class="text-center"><%= @leafy_green.expiry_date %></p>


<div class="text-center">
 
    <li><%= link_to "Edit", edit_leafy_green_path(@leafy_green) %></li>

    <li><%= link_to "Delete", leafy_green_path(@leafy_green), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?" } %></li>
</div> 