<div class="container">
    <div class="row">
        <div class="col">
            <div class = "row" >
                <% Product::VALID_CATEGORIES.each do |i| %>
                    <div class = "row" >
                        <% item_counter = 0 %>
                        <% header_displayed = false %>
                        <% @products.product_category(i).each do |c| %>
                            <% if c && !header_displayed %>
                                <h3>All <%= i.capitalize %></h3>
                                <% header_displayed = true %>
                            <% end %>
                            <div class="col align-self-start card" style="width: 22rem;">
                                <div class="card-body">
                                    <h3 class="card-title text-decoration-underline text-center"><%= c.name %></h3>
                                    <p class="text-center">
                                    Desc: <%= c.details %><br>
                                    Price: <%= c.price %><br>
                                    Produce of: <%= c.mfg_date %><br>
                                    Expiry Date: <%= c.expiry_date %></p>
                                    <div class="text-center">
                                        <%= link_to "Edit", edit_product_path(c) %>
                                        <%= link_to "Delete", product_path(c), data: {
                                                        turbo_method: :delete,
                                                        turbo_confirm: "Are you sure?" } %>
                                    </div>
                                </div>
                            </div>
                            <% item_counter += 1%>
                            <% if i && item_counter >2 %>
                                <hr>
                            <% end %>
                            <% break if item_counter > 2 %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div> 
    </div>
</div>